<table class="dataframe table">
  <thead>
    <tr>
      <th>date</th>
      <th colspan="3" halign="left">2024-08-14</th>
      <th>2024-08-13</th>
    </tr>
    <tr>
      <th>measure</th>
      <th>rank</th>
      <th>level</th>
      <th>move</th>
      <th>level</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><a href="wmcpng/ZWE.png">Zimbabwe</a></th>
      <td>1</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/ZMB.png">Zambia</a></th>
      <td>2</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/ZAF.png">South Africa</a></th>
      <td>3</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/YEM.png">Yemen</a></th>
      <td>4</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/WSM.png">Samoa</a></th>
      <td>5</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/WLF.png">Wallis and Futuna</a></th>
      <td>6</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/VUT.png">Vanuatu</a></th>
      <td>7</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/VNM.png">Vietnam</a></th>
      <td>8</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/VIR.png">U.S. Virgin Islands</a></th>
      <td>9</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/VGB.png">British Virgin Islands</a></th>
      <td>10</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/VEN.png">Venezuela</a></th>
      <td>11</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/VCT.png">Saint Vincent and the Grenadines</a></th>
      <td>12</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/VAT.png">Vatican City</a></th>
      <td>13</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/UZB.png">Uzbekistan</a></th>
      <td>14</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/USA.png">United States</a></th>
      <td>15</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/URY.png">Uruguay</a></th>
      <td>16</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/UKR.png">Ukraine</a></th>
      <td>17</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/UGA.png">Uganda</a></th>
      <td>18</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/TZA.png">Tanzania</a></th>
      <td>19</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/TWN.png">Taiwan</a></th>
      <td>20</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/TUV.png">Tuvalu</a></th>
      <td>21</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/TUR.png">Turkey</a></th>
      <td>22</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/TUN.png">Tunisia</a></th>
      <td>23</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/TTO.png">Trinidad and Tobago</a></th>
      <td>24</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/TON.png">Tonga</a></th>
      <td>25</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/TLS.png">Timor-Leste</a></th>
      <td>26</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/TKM.png">Turkmenistan</a></th>
      <td>27</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/TKL.png">Tokelau</a></th>
      <td>28</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/TJK.png">Tajikistan</a></th>
      <td>29</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/THA.png">Thailand</a></th>
      <td>30</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/TGO.png">Togo</a></th>
      <td>31</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/TCD.png">Chad</a></th>
      <td>32</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/TCA.png">Turks and Caicos Islands</a></th>
      <td>33</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SYR.png">Syria</a></th>
      <td>34</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SYC.png">Seychelles</a></th>
      <td>35</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SXM.png">Sint Maarten</a></th>
      <td>36</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SWZ.png">Swaziland</a></th>
      <td>37</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SWE.png">Sweden</a></th>
      <td>38</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SVN.png">Slovenia</a></th>
      <td>39</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SVK.png">Slovakia</a></th>
      <td>40</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SUR.png">Suriname</a></th>
      <td>41</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/STP.png">São Tomé and Príncipe</a></th>
      <td>42</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SSD.png">South Sudan</a></th>
      <td>43</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SRB.png">Serbia</a></th>
      <td>44</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SPM.png">Saint Pierre and Miquelon</a></th>
      <td>45</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SOM.png">Somalia</a></th>
      <td>46</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SMR.png">San Marino</a></th>
      <td>47</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SLV.png">El Salvador</a></th>
      <td>48</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SLE.png">Sierra Leone</a></th>
      <td>49</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SLB.png">Solomon Islands</a></th>
      <td>50</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SHN.png">Saint Helena</a></th>
      <td>51</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SGP.png">Singapore</a></th>
      <td>52</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SEN.png">Senegal</a></th>
      <td>53</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SDN.png">Sudan</a></th>
      <td>54</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/SAU.png">Saudi Arabia</a></th>
      <td>55</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/RWA.png">Rwanda</a></th>
      <td>56</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/RUS.png">Russia</a></th>
      <td>57</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/ROU.png">Romania</a></th>
      <td>58</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/REU.png">Réunion</a></th>
      <td>59</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/QAT.png">Qatar</a></th>
      <td>60</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/PYF.png">French Polynesia</a></th>
      <td>61</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/PSE.png">Palestinian Territories</a></th>
      <td>62</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/PRY.png">Paraguay</a></th>
      <td>63</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/PRT.png">Portugal</a></th>
      <td>64</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/PRK.png">North Korea</a></th>
      <td>65</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/PRI.png">Puerto Rico</a></th>
      <td>66</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/POL.png">Poland</a></th>
      <td>67</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/PNG.png">Papua New Guinea</a></th>
      <td>68</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/PLW.png">Palau</a></th>
      <td>69</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/PHL.png">Philippines</a></th>
      <td>70</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/PER.png">Peru</a></th>
      <td>71</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/PCN.png">Pitcairn Islands</a></th>
      <td>72</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/PAN.png">Panama</a></th>
      <td>73</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/PAK.png">Pakistan</a></th>
      <td>74</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OWID_WRL.png">World</a></th>
      <td>75</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OWID_WLS.png">Wales</a></th>
      <td>76</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OWID_UMC.png">Upper middle income</a></th>
      <td>77</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OWID_SCT.png">Scotland</a></th>
      <td>78</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OWID_SAM.png">South America</a></th>
      <td>79</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OWID_OCE.png">Oceania</a></th>
      <td>80</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OWID_NIR.png">Northern Ireland</a></th>
      <td>81</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OWID_NAM.png">North America</a></th>
      <td>82</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OWID_LMC.png">Lower middle income</a></th>
      <td>83</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OWID_LIC.png">Low income</a></th>
      <td>84</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OWID_KOS.png">Kosovo</a></th>
      <td>85</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OWID_HIC.png">High income</a></th>
      <td>86</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OWID_EUR.png">Europe</a></th>
      <td>87</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OWID_EUN.png">European Union</a></th>
      <td>88</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OWID_ENG.png">England</a></th>
      <td>89</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OWID_CYN.png">Northern Cyprus</a></th>
      <td>90</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OWID_ASI.png">Asia</a></th>
      <td>91</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OWID_AFR.png">Africa</a></th>
      <td>92</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/OMN.png">Oman</a></th>
      <td>93</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/NZL.png">New Zealand</a></th>
      <td>94</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/NRU.png">Nauru</a></th>
      <td>95</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/NPL.png">Nepal</a></th>
      <td>96</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/NOR.png">Norway</a></th>
      <td>97</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/NLD.png">Netherlands</a></th>
      <td>98</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/NIU.png">Niue</a></th>
      <td>99</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/NIC.png">Nicaragua</a></th>
      <td>100</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/NGA.png">Nigeria</a></th>
      <td>101</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/NER.png">Niger</a></th>
      <td>102</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/NCL.png">New Caledonia</a></th>
      <td>103</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/NAM.png">Namibia</a></th>
      <td>104</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MYT.png">Mayotte</a></th>
      <td>105</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MYS.png">Malaysia</a></th>
      <td>106</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MWI.png">Malawi</a></th>
      <td>107</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MUS.png">Mauritius</a></th>
      <td>108</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MTQ.png">Martinique</a></th>
      <td>109</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MSR.png">Montserrat</a></th>
      <td>110</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MRT.png">Mauritania</a></th>
      <td>111</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MOZ.png">Mozambique</a></th>
      <td>112</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MNP.png">Northern Mariana Islands</a></th>
      <td>113</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MNG.png">Mongolia</a></th>
      <td>114</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MNE.png">Montenegro</a></th>
      <td>115</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MMR.png">Myanmar [Burma]</a></th>
      <td>116</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MLT.png">Malta</a></th>
      <td>117</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MLI.png">Mali</a></th>
      <td>118</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MKD.png">Macedonia [FYROM]</a></th>
      <td>119</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MHL.png">Marshall Islands</a></th>
      <td>120</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MEX.png">Mexico</a></th>
      <td>121</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MDV.png">Maldives</a></th>
      <td>122</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MDG.png">Madagascar</a></th>
      <td>123</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MDA.png">Moldova</a></th>
      <td>124</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MCO.png">Monaco</a></th>
      <td>125</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MAR.png">Morocco</a></th>
      <td>126</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MAF.png">Saint Martin</a></th>
      <td>127</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/MAC.png">Macau</a></th>
      <td>128</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/LVA.png">Latvia</a></th>
      <td>129</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/LUX.png">Luxembourg</a></th>
      <td>130</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/LTU.png">Lithuania</a></th>
      <td>131</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/LSO.png">Lesotho</a></th>
      <td>132</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/LKA.png">Sri Lanka</a></th>
      <td>133</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/LIE.png">Liechtenstein</a></th>
      <td>134</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/LCA.png">Saint Lucia</a></th>
      <td>135</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/LBY.png">Libya</a></th>
      <td>136</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/LBR.png">Liberia</a></th>
      <td>137</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/LBN.png">Lebanon</a></th>
      <td>138</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/LAO.png">Laos</a></th>
      <td>139</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/KWT.png">Kuwait</a></th>
      <td>140</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/KOR.png">South Korea</a></th>
      <td>141</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/KNA.png">Saint Kitts and Nevis</a></th>
      <td>142</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/KIR.png">Kiribati</a></th>
      <td>143</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/KHM.png">Cambodia</a></th>
      <td>144</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/KGZ.png">Kyrgyzstan</a></th>
      <td>145</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/KEN.png">Kenya</a></th>
      <td>146</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/KAZ.png">Kazakhstan</a></th>
      <td>147</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/JPN.png">Japan</a></th>
      <td>148</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/JOR.png">Jordan</a></th>
      <td>149</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/JEY.png">Jersey</a></th>
      <td>150</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/JAM.png">Jamaica</a></th>
      <td>151</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/ITA.png">Italy</a></th>
      <td>152</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/ISR.png">Israel</a></th>
      <td>153</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/ISL.png">Iceland</a></th>
      <td>154</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/IRQ.png">Iraq</a></th>
      <td>155</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/IRN.png">Iran</a></th>
      <td>156</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/IRL.png">Ireland</a></th>
      <td>157</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/IND.png">India</a></th>
      <td>158</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/IMN.png">Isle of Man</a></th>
      <td>159</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/IDN.png">Indonesia</a></th>
      <td>160</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/HUN.png">Hungary</a></th>
      <td>161</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/HTI.png">Haiti</a></th>
      <td>162</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/HRV.png">Croatia</a></th>
      <td>163</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/HND.png">Honduras</a></th>
      <td>164</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/HKG.png">Hong Kong</a></th>
      <td>165</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/GUY.png">Guyana</a></th>
      <td>166</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/GUM.png">Guam</a></th>
      <td>167</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/GUF.png">French Guiana</a></th>
      <td>168</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/GTM.png">Guatemala</a></th>
      <td>169</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/GRL.png">Greenland</a></th>
      <td>170</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/GRD.png">Grenada</a></th>
      <td>171</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/GRC.png">Greece</a></th>
      <td>172</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/GNQ.png">Equatorial Guinea</a></th>
      <td>173</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/GNB.png">Guinea-Bissau</a></th>
      <td>174</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/GMB.png">Gambia</a></th>
      <td>175</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/GLP.png">Guadeloupe</a></th>
      <td>176</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/GIN.png">Guinea</a></th>
      <td>177</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/GIB.png">Gibraltar</a></th>
      <td>178</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/GHA.png">Ghana</a></th>
      <td>179</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/GGY.png">Guernsey</a></th>
      <td>180</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/GEO.png">Georgia</a></th>
      <td>181</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/GBR.png">United Kingdom</a></th>
      <td>182</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/GAB.png">Gabon</a></th>
      <td>183</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/FSM.png">Micronesia</a></th>
      <td>184</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/FRO.png">Faroe Islands</a></th>
      <td>185</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/FRA.png">France</a></th>
      <td>186</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/FLK.png">Falkland Islands [Islas Malvinas]</a></th>
      <td>187</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/FJI.png">Fiji</a></th>
      <td>188</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/FIN.png">Finland</a></th>
      <td>189</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/ETH.png">Ethiopia</a></th>
      <td>190</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/EST.png">Estonia</a></th>
      <td>191</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/ESP.png">Spain</a></th>
      <td>192</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/ESH.png">Western Sahara</a></th>
      <td>193</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/ERI.png">Eritrea</a></th>
      <td>194</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/EGY.png">Egypt</a></th>
      <td>195</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/ECU.png">Ecuador</a></th>
      <td>196</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/DZA.png">Algeria</a></th>
      <td>197</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/DOM.png">Dominican Republic</a></th>
      <td>198</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/DNK.png">Denmark</a></th>
      <td>199</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/DMA.png">Dominica</a></th>
      <td>200</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/DJI.png">Djibouti</a></th>
      <td>201</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/DEU.png">Germany</a></th>
      <td>202</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/CZE.png">Czech Republic</a></th>
      <td>203</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/CYP.png">Cyprus</a></th>
      <td>204</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/CYM.png">Cayman Islands</a></th>
      <td>205</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/CUW.png">Curacao</a></th>
      <td>206</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/CUB.png">Cuba</a></th>
      <td>207</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/CRI.png">Costa Rica</a></th>
      <td>208</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/CPV.png">Cape Verde</a></th>
      <td>209</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/COM.png">Comoros</a></th>
      <td>210</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/COL.png">Colombia</a></th>
      <td>211</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/COK.png">Cook Islands</a></th>
      <td>212</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/COG.png">Congo [Republic]</a></th>
      <td>213</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/COD.png">Congo [DRC]</a></th>
      <td>214</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/CMR.png">Cameroon</a></th>
      <td>215</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/CIV.png">Côte d'Ivoire</a></th>
      <td>216</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/CHN.png">China</a></th>
      <td>217</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/CHL.png">Chile</a></th>
      <td>218</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/CHE.png">Switzerland</a></th>
      <td>219</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/CAN.png">Canada</a></th>
      <td>220</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/CAF.png">Central African Republic</a></th>
      <td>221</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BWA.png">Botswana</a></th>
      <td>222</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BTN.png">Bhutan</a></th>
      <td>223</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BRN.png">Brunei</a></th>
      <td>224</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BRB.png">Barbados</a></th>
      <td>225</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BRA.png">Brazil</a></th>
      <td>226</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BOL.png">Bolivia</a></th>
      <td>227</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BMU.png">Bermuda</a></th>
      <td>228</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BLZ.png">Belize</a></th>
      <td>229</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BLR.png">Belarus</a></th>
      <td>230</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BLM.png">Saint Barthelemy</a></th>
      <td>231</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BIH.png">Bosnia and Herzegovina</a></th>
      <td>232</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BHS.png">Bahamas</a></th>
      <td>233</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BHR.png">Bahrain</a></th>
      <td>234</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BGR.png">Bulgaria</a></th>
      <td>235</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BGD.png">Bangladesh</a></th>
      <td>236</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BFA.png">Burkina Faso</a></th>
      <td>237</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BES.png">Bonaire, Saint Eustatius and Saba</a></th>
      <td>238</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BEN.png">Benin</a></th>
      <td>239</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BEL.png">Belgium</a></th>
      <td>240</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/BDI.png">Burundi</a></th>
      <td>241</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/AZE.png">Azerbaijan</a></th>
      <td>242</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/AUT.png">Austria</a></th>
      <td>243</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/AUS.png">Australia</a></th>
      <td>244</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/ATG.png">Antigua and Barbuda</a></th>
      <td>245</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/ASM.png">American Samoa</a></th>
      <td>246</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/ARM.png">Armenia</a></th>
      <td>247</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/ARG.png">Argentina</a></th>
      <td>248</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/ARE.png">United Arab Emirates</a></th>
      <td>249</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/AND.png">Andorra</a></th>
      <td>250</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/ALB.png">Albania</a></th>
      <td>251</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/AIA.png">Anguilla</a></th>
      <td>252</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/AGO.png">Angola</a></th>
      <td>253</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/AFG.png">Afghanistan</a></th>
      <td>254</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th><a href="wmcpng/ABW.png">Aruba</a></th>
      <td>255</td>
      <td>0.0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>